<%= form_for(import) do |f| %>

  <div class="form-group">
    <h3><%= f.label :file, "Nouveau fichier" %></h3>
    <%= f.file_field :file, class: "form-control" %>
  </div>

  <div class="actions">
    <%= f.submit "Importer", class: "btn btn-primary" %>
  </div>
<% end %>
