<p>
  <h3>Contacts importés</h3>
  <% @import.contacts.each do |ct| %>
      <%= "#{ct.firstname} #{ct.lastname} #{ct.email}" %>
      <br>
  <% end %>
</p>

<p>
  <h3>Contacts non importés</h3>
  <% @import.null_contacts.each do |ct| %>
      <%= "#{ct.firstname} #{ct.lastname} #{ct.email} #{ct.status}" %>
      <br>
  <% end %>
</p>

<%= link_to 'Liste de contacts', imports_path %>
